<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/main_layout}">
<th:block layout:fragment="css">
    <style>
        .table th,
        .table td {
            vertical-align: middle;
        }

        .table label {
            margin-top: 4px;
        }

        input.form-control[readonly] {
            background-color: rgba(211, 211, 211, 0.233);
        }
    </style>
</th:block>

<div layout:fragment="content">
    <main class="container d-flex justify-content-center vh-100">
        <section class="w-75 h-75">
            <header class="text-center mt-5">
                <h2>회원 정보 입력</h2>
            </header>
            <section class="mt-5">
                <form id="userFrm">
                    <table class="table">
                        <tr>
                            <th>
                                <label for="userId" class="form-label">아이디</label>
                            </th>
                            <td>
                                <input type="text" id="userId" name="userId" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="password" class="form-label">비밀번호</label>
                            </th>
                            <td>
                                <input type="password" id="passwd" name="passwd" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="userName" class="form-label">이름</label>
                            </th>
                            <td>
                                <input type="text" id="userName" name="userName" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="form-label">성별</label>
                            </th>
                            <td>
                                <input type="text" id="gender" name="gender" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="form-label">생년월일</label>
                            </th>
                            <td>
                                <input type="text" id="birth" name="birth" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="phone" class="form-label">전화번호</label>
                            </th>
                            <td>
                                <input type="text" id="phone" name="phone" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="email" class="form-label">이메일</label>
                            </th>
                            <td>
                                <input type="text" id="mailId" name="mailId" class="form-control d-inline-block w-25">
                                <span>@</span>
                                <input type="text" id="agency" name="agency" class="form-control d-inline-block w-25"
                                    th:value="${agencyName}" readonly>
                                <select class="form-select d-inline-block w-auto" onchange="changeMail(this)">
                                    <option value="none">===== 선택 =====</option>
                                    <option th:value="self">직접 입력</option>
                                    <option th:selected="${agencyName == 'gmail.com'}" value="gmail.com">gmail.com
                                    </option>
                                    <option th:selected="${agencyName == 'naver.com'}" value="naver.com">naver.com
                                    </option>
                                    <option th:selected="${agencyName == 'kakao.com'}" value="kakao.com">kakao.com
                                    </option>
                                    <option th:selected="${agencyName == 'yahoo.co.kr'}" value="yahoo.co.kr">yahoo.co.kr
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="form-label">주소</label>
                            </th>
                            <td>
                                <input type="text" id="addr" name="addr" class="form-control d-inline-block w-75">
                                <button type="button" class="btn btn-warning ms-5 mb-2 mt-1" onclick="searchAddr();">주소
                                    찾기</button>
                                <input type="text" id="addrDetail" name="addrDetail" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="form-label">권한</label>
                            </th>
                            <td>
                                <select class="form-select w-25" id="userRole" name="userRole">
                                    <option value="ADMIN" selected>관리자</option>
                                    <option value="USER">사용자</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="form-label">사용여부</label>
                            </th>
                            <td>
                                <select class="form-select w-25" id="useYn" name="useYn">
                                    <option value="Y" selected>사용</option>
                                    <option value="N">미사용</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </form>
                <div class="text-center mt-3">
                    <button type="button" class="btn btn-primary me-2" onclick="writeUser();">저장</button>
                    <button type="button" class="btn btn-secondary" onclick="goList();">취소</button>
                </div>
            </section>
        </section>
    </main>
    <script>

        const searchAddr = () => {
            new daum.Postcode({
                onComplete: function (data) {
                    let fullAddr = '';
                    let extraAddr = '';

                    if (data.userSelectedType === 'R') {
                        fullAddr = data.roadAddress;
                    } else {
                        fullAddr = data.jibunAddress;
                    }

                    // 법정동
                    if (data.bname.trim().length > 0 || /[동|로|가]$/g.test(data.bname)) {
                        extraAddr += data.bname;
                    }

                    // 아파트명 또는 빌딩명
                    if (data.buildingName.trim().length > 0) {
                        extraAddr += (extraAddr.length > 0 ? ', ' : '') + data.buildingName;
                    }

                    extraAddr = extraAddr.length > 0 ? `(${extraAddr})` : extraAddr;

                    fullAddr += extraAddr;

                    $('#addr').val(fullAddr);
                }
            }).open();
        }

        const changeMail = (select) => {
            const agency = $(select).val();

            $('#agency').prop('readonly', true);

            if (agency === 'none') {
                return;
            }

            if (agency === 'self') {
                $('#agency').val('');
                $('#agency').prop('readonly', false);
            } else {
                $('#agency').val(agency);
            }
        }

        const validated = () => {
            const eventMessage = {
                userId: '아이디를 입력하십시오',
                userName: '이름을 입력하십시오',
                gender: '성별을 입력하십시오',
                birth: '생년월일을 입력하십시오',
                phone: '전화번호를 입력하십시오',
                mailId: '메일 아이디를 입력하십시오',
                agency: '메일 공급자를 선택하십시오',
                addr: '주소를 입력하십시오'
            }

            const inputAddr = $('input[type="text"]:not(#addrDetail), input[type="password"]');

            let isConfirm = true;
            let errorMessage = '';

            $.each(inputAddr, (index, obj) => {
                const id = obj.id;
                const value = obj.value.trim();

                if (value.length === 0 && eventMessage[id]) {
                    isConfirm = false;
                    errorMessage = eventMessage[id];
                    return false;   // break;
                }
            });

            if (!isConfirm) {
                alert(errorMessage);
                return false;
            }

            return true;
        }

        // 사용자 등록
        const writeUser = () => {
            if (validated()) {

                const frm = $('#userFrm');
                const email= $('#mailId').val() + '@' + $('#agency').val();

                const formData = new FormData(frm[0]);
                formData.set('email', email); 

                const header ={
                    'Content-type' : 'multipart/form-data'
                }

                // 등록 요청 보내기
                axios.post('/api/v1/admin/user', formData, header)
                .then(resp => {
                    if(resp.data.resultCode === 200){
                        alert('사용자 정보가 등록되었습니다.');
                        location.href = '/admin/list';
                    }else{
                        alert('사용자 정보 등록이 실패하였습니다.');
                    }
                }).catch((error)=>{
                    alert(error);
                })

            }
        }


        const goList = () => {
            location.href = '/admin/list';
        }

    </script>
</div>

</html>